<h1>Display your Pirate here</h1>
  <h2>Pirate Name: <%=@pirate.name%></h2>
  <h2>Pirate height: <%=@pirate.height%></h2>
  <h2>Pirate weight: <%=@pirate.weight%></h2>
<h2>Display your first ship here</h2>
  <h3>Ship 1 Name: <%=@pirate.ships[0].name%></h3>
  <h3>Ship 1 type: <%=@pirate.ships[0].type%></h3>
  <h3>Ship 1 booty: <%=@pirate.ships[0].booty%></h3>
<h2>Display your second ship here</h2>
  <h3>Ship 2 Name: <%=@pirate.ships[1].name%></h3>
  <h3>Ship 2 type: <%=@pirate.ships[1].type%></h3>
  <h3>Ship 2 booty: <%=@pirate.ships[1].booty%></h3>
